listen:
    protocol: http3
    port: 9889
    address: "0.0.0.0"
    tls:
        cert: "/path/to/cert" # --> use .pem
        key: "/path/to/key" # --> use .pem

backends:
    -   id: "backend1"
        address: "10.0.1.100:8080"
        weight: 100  # server can have /metric route for weight-based balancing
        health_check:
            path: "/health"
            interval: 5000
            timeout_ms: 1000
            failure_threshold: 3
            success_threshold: 2
            cooldown_ms: 5000

load_balancing:
    type: random  # random, round-robin, consistent-hash

log:
  level: info
