version: 1

listen:
    protocol: http3         
    address: "0.0.0.0"
    port: 9889
    tls:
        cert: certs/proxy-fullchain.pem
        key: certs/proxy-key-pkcs8.pem

upstream:
  api_pool:
    load_balancing:
        type: "consistent-hash"

    backends:
      - id: "backend1"
        address: "127.0.0.1:7001"
        weight: 100
        health_check:
          path: "/health"
          interval: 5000

      - id: "backend2"
        address: "127.0.0.1:7002"
        weight: 50
        health_check:
          path: "/status"
          interval: 10000

  auth_pool:
    load_balancing:
      type: round-robin

    backends:
      - id: "auth1"
        address: "127.0.0.1:8001"
        weight: 100
        health_check:
          path: "/health"
          interval: 5000    

routing:
  rules:
    - match:
        path_prefix: "/api"
      upstream: api_pool

    - match:
        path_prefix: "/auth"
      upstream: auth_pool

    - match:
        host: "admin.example.com"
      upstream: auth_pool

load_balancing:
    type: "consistent-hash"   # options: random, consistent-hash, round-robin

log:
    level: info