[package]
name = "spooky-transport"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
bytes.workspace = true
http-body-util.workspace = true
hyper.workspace = true
hyper-util.workspace = true
tokio.workspace = true
