name: Deploy Docs

on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
          cache: pip
          cache-dependency-path: docs-requirements.txt

      - name: Install dependencies
        run: pip install -r docs-requirements.txt

      - name: Deploy
        run: mkdocs gh-deploy --force
